* {
    font-family: Arial;
}

@font-face {
  font-family: MIB;
  src: url('/CSS/MIB.ttf.ttf');
}




.HomePageBody {
    height: 100%;
    margin: 0;
  
    background-image: url("/images/interlaced.png.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }


  .homepageFirstlayer {
    width: 100%;
    height: 40vh;
    text-transform: uppercase;
    color: #0d143d;
    -webkit-text-stroke: 0.01em #ff6464;
    position: center;
    letter-spacing: 0.2em;
  
    font-size: 10em;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  
  }
  
  
  /*Titulo*/
  .homepageFirstlayertext{
  font-family: MIB, sans-serif;
    width: auto;
    padding-top: 5vh;
    text-align: center;
  }

  .homepageSecodlayertext{
    font-family: MIB, sans-serif;
    width: auto;
    padding-top: 5vh;
    text-align: center;
    font-size: 3em;

    width: 100%;
    height: 40vh;
    text-transform: uppercase;
    color: #0d143d;
    -webkit-text-stroke: 0.01em #ff6464;
    position: center;
    letter-spacing: 0.2em;
border-bottom: solid #0d143d 5px;




  }



  









.menu-wrap {
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #ff6464;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #0d143d;
    background-color: #ff6464;
    border-radius: 40px;
    border: #0d143d solid 1px;
    font-size: 1.5rem;
    padding: 0.75rem;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }


















  .container {


    display: flex;
    background-color: transparent;
    height: 80vh;
    width: 100%;
  }
  
  
  
  
  
  .box{
    align-content: space-between;
    transition: 0.75s;
    margin-top: 20px;
    height: 500px;
    background-color: #ff6464;
    margin-bottom: 2vh;
    width: 20%;
    margin-left: 4%;
    box-shadow: 2px 2px 2px #0d143d;
    border: solid #ff6464;
    
  }
  
  .box-image{
    background-color: #e9e9f7;
    height: 300px;
    margin-bottom: 15px;
    max-width:100%;
    background-size: cover;
  
    
    
    
  }
  
  .image-1{
    background-image: url(/images/pg1.PNG);
    background-size: 600px;
  
    }
    .image-2{
      background-image: url(/images/pg6.PNG);
      background-size: 100%;
      height: 300px;
      object-fit: cover;
    }
    .image-3{
      background-image: url(/images/pg3.PNG);
    }

    .image-4{
      background-image: url(/images/pg4.PNG);
    }

  
    .box:hover{
      transform: scale(1.3);
      background:#e9e9f7;
      box-shadow: 2px 2px 2px 2px #0d143d;
      z-index: 2;
    }

    .box h2{
      color: white;
    }
    .box a{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e9e9f7;
    text-shadow: 2px 2px 5px #0d143d;
    }
    .contenedor{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      min-height: 6vh;
    }

    .btn-1{
      width: 100px;
      height: 25px;
      border: none;
      color: #ff6464;
      background-color: #e9e9f7 ;
      border-radius: 4px;
      transition: ease-out 0.3s;
      font-size: rem;
      outline: none;
    }
    
    .btn-1:hover{
      box-shadow: inset 100px 0 0 0 #0d143d;
      cursor: pointer;
      color:#ff6464;
    }

















    .footer {
      width: 100%;
      height: auto;
    
      color: #222126;
      background-color: #F0F0F2;
    }
    
    .footertext {
      display: flex;
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 10px;
      list-style: none;
      color: #222126;
      flex-wrap: wrap;
      justify-content: center;
    
      padding-bottom: 15px;
      padding-top: 10px;
    }
    
    .footerlogos {
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 70%;
    }
    
    .miniLogos {
      padding: 5px;
      height: 100%;
      width: 75px;
    }
    
    .footerCredits {
      font-size: 15px;
      padding-bottom: 10px;
      text-align: center;
    }
    
    a.footer-link {
      text-decoration: none;
      color: #222126;
    }
    
    .footer-link {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
    
      font-size: 15px; 
      
      position: relative;
    }
    
    .footer-link::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #ff6464;
      transition: width 0.25s ease-out;
    }
    
    .footer-link:hover::before {
      width: 100%;
    }